@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

$orange-color: #f5bc22;
$lite_orange-color: #e0bb60;
$dark-orange-color: #c49102;

%h2-specifications{
  font-size: 1.5vw;
  margin-bottom: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  text-align: center;
}
%button{
  background-color: $orange-color;
  color: #000;
  padding: 0.8vw 1.5vw;
  border-radius: 20px;
  font-weight: 400;
  &:hover{
    background-color: $lite_orange-color;
  }
}
%main-logo{
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  font-weight: 600;
  color: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
li{
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
}
header{
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2vw 7vw;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  nav{
    display: flex;
    justify-content: space-between;
    .header__logo{
      @extend %main-logo;
    }
    .header__menu{
      display: flex;
      align-items: center;
      font-size: 1.2vw;
      font-weight: 300;
      ul{
        display: flex;
        li:not(:last-child) {
          margin-right: 2vw;
        }
        a:hover{
          color: $orange-color;
        }
      }
    }
  }
  .header__main{
    padding: 17vw 15vw;
    text-align: center;
    h1{
      margin-bottom: 1vw;
      font-size: 3vw;
      font-weight: 400;
    }
    h2{
      font-size: 1.5vw;
      margin-bottom: 1.5vw;
      font-weight: 300;
    }
    .header__button{
      @extend %button;
    }
  }
}
.about{
  width: 100vw;
  height: 80vh;
  padding: 5vw 20vw;
  text-align: center;
  .about__information{
    h2{
      @extend %h2-specifications;
    }
    p{
      margin-bottom: 0.5vw;
      span{
        color: $orange-color;
      }
    }
  }
  .about__images{
    padding-top: 2vw;
    ul{
      display: flex;
      li{
        border-top: 6px solid $lite_orange-color;
        padding: 2vw 0;
        i{
          font-size: 4vw;
          padding-bottom: 1vw;;
        }
        h3{
          font-weight: 300;
          font-size: 1.2vw;
        }
        &:hover{
          border-top: 6px solid $orange-color;
          i{
            color: $lite_orange-color;
          }
        }
      }
    }
  }
}
.tours{
  background-color: #f3f3f3;
  padding: 2vw 10vw;
  h2{
    @extend %h2-specifications;
  }
  .tours__sliders{
    padding: 2vw 3vw;
    .tours__slider{
      display: grid !important;
      grid-template-columns: 1fr 1fr !important;
      grid-gap: 2vw !important;
      align-items: center;
      .tours__information{
        display: flex;
        flex-direction: column;
        h3{
          font-weight: 400;
          text-align: center;
          padding-bottom: 5vw;
          font-size: 1.5vw;
        }
        .tours__program{
          color: $orange-color;
          padding-bottom: 2vw;
          font-style: italic;
          text-decoration: underline;
          &:hover{
            color: $dark-orange-color;
          }
        }
        .tours__button{
          @extend %button;
          width: max-content;
        }
      }
      p{
        padding-bottom: 2vw;
      }
      .tours__image{
        img{
          width: 35vw;
          height: 42vw;
        }
      }
    }
  }
}
.booking{
  height: 15vw;
  background-color: $orange-color;
  display: flex;
  align-items: center;
  justify-content: center;
  input, select{
    padding: 0.8vw 1vw;
    margin: 2vw;
    border: none;
    border-radius: 2px;
  }
  p{
    display: flex;
    justify-content: center;
    .btn{
      @extend %button;
      border: 1px solid #ffffff;
    }
  }
}
.contact{
  display: grid;
  grid-template-columns: 2fr 2fr;
  .contact__img{
    position: relative;
    padding: 0 0 58% 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
  .contact__information{
    background-color: #445159;
    color: #ffffff;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    h2, h3{
      padding: 1.5vw;
    }
    a{
      padding: 1vw;
      &:hover{
        color: $orange-color;
      }
    }
    .contact__social{
      display: flex;
      flex-direction: row;
      i{
        padding: 0.5vw 1vw;
        font-size: 2vw;
      }
    }
  }
}