@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
.tours h2, .about .about__information h2 {
  font-size: 1.5vw;
  margin-bottom: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  text-align: center;
}

.booking form p .btn, .tours .tours__sliders .tours__slider .tours__information .tours__button, header .header__main .header__button {
  background-color: #f5bc22;
  color: #000;
  padding: 0.8vw 1.5vw;
  border-radius: 20px;
  font-weight: 400;
}
.booking form p .btn:hover, .tours .tours__sliders .tours__slider .tours__information .tours__button:hover, header .header__main .header__button:hover {
  background-color: #e0bb60;
}

footer .footer__year, footer .footer__logo, header nav .header__logo {
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  font-weight: 600;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: 0;
}

header {
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2vw 7vw;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .header__menu {
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 300;
}
header nav .header__menu ul {
  display: flex;
}
header nav .header__menu ul li {
  padding: 0 1vw;
}
header nav .header__menu ul a:hover {
  color: #f5bc22;
}
header .header__main {
  padding: 17vw 15vw;
  text-align: center;
}
header .header__main h1 {
  margin-bottom: 1vw;
  font-size: 3vw;
  font-weight: 400;
}
header .header__main h2 {
  font-size: 1.5vw;
  margin-bottom: 1.5vw;
  font-weight: 300;
}
.about {
  width: 100vw;
  padding: 5vw 20vw;
  text-align: center;
}
.about .about__information p {
  margin-bottom: 0.5vw;
}
.about .about__information p span {
  color: #f5bc22;
}
.about .about__images {
  padding-top: 2vw;
}
.about .about__images ul {
  display: flex;
}
.about .about__images ul li {
  border-top: 6px solid #e0bb60;
  padding: 2vw 0;
}
.about .about__images ul li i {
  font-size: 4vw;
  padding-bottom: 1vw;
}
.about .about__images ul li h3 {
  font-weight: 300;
  font-size: 1.2vw;
}
.about .about__images ul li:hover {
  border-top: 6px solid #f5bc22;
}
.about .about__images ul li:hover i {
  color: #e0bb60;
}

.tours {
  background-color: #f3f3f3;
  padding: 2vw 10vw;
  position: relative;
  overflow: hidden;
}
.tours .slick-list .slick-track {
  display: flex;
}
.tours .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 5vw;
  height: 5vw;
  border: none;
}
.tours .slick-prev {
  left: 2vw;
  background: url("../img/arrow-back.svg") 0 0/100% no-repeat;
}
.tours .slick-prev:focus {
  outline: 0;
}
.tours .slick-next {
  right: 2vw;
  background: url("../img/arrow-next.svg") 0 0/100% no-repeat;
}
.tours .slick-next:focus {
  outline: 0;
}
.tours .tours__sliders {
  padding: 2vw 3vw;
}
.tours .tours__sliders .tours__slider {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  grid-gap: 2vw !important;
  align-items: center;
}
.tours .tours__sliders .tours__slider:focus {
  outline: 0;
}
.tours .tours__sliders .tours__slider .tours__information {
  display: flex;
  flex-direction: column;
}
.tours .tours__sliders .tours__slider .tours__information h3 {
  font-weight: 400;
  text-align: center;
  padding-bottom: 5vw;
  font-size: 1.5vw;
}
.tours .tours__sliders .tours__slider .tours__information .tours__program {
  color: #f5bc22;
  padding-bottom: 2vw;
  font-style: italic;
  text-decoration: underline;
}
.tours .tours__sliders .tours__slider .tours__information .tours__program:hover {
  color: #c49102;
}
.tours .tours__sliders .tours__slider .tours__information .tours__button {
  width: max-content;
}
.tours .tours__sliders .tours__slider p {
  padding-bottom: 2vw;
}
.tours .tours__sliders .tours__slider .tours__image {
  position: relative;
  padding: 0 0 100% 0;
}
.tours .tours__sliders .tours__slider .tours__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.booking {
  background-color: #f5bc22;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking form input, .booking form select {
  -webkit-appearance: none;
  padding: 0.8vw 1vw;
  margin: 2vw;
  border: none;
  border-radius: 2px;
}
.booking form input select, .booking form select select {
  padding: 0.8vw 1.1vw;
}
.booking form input:focus, .booking form select:focus {
  outline: 0;
}
.booking form p {
  display: flex;
  justify-content: center;
}
.booking form p .btn {
  border: 1px solid #ffffff;
}
.booking form p .btn:focus {
  outline: 0;
}

.contact {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.contact .contact__img {
  position: relative;
  padding: 0 0 58% 0;
}
.contact .contact__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.contact .contact__information {
  background-color: #445159;
  color: #ffffff;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.contact .contact__information h2, .contact .contact__information h3 {
  padding: 1.5vw;
}
.contact .contact__information a {
  padding: 1vw;
}
.contact .contact__information a:hover {
  color: #f5bc22;
}
.contact .contact__information .contact__social {
  display: flex;
  flex-direction: row;
}
.contact .contact__information .contact__social i {
  padding: 0.5vw 1vw;
  font-size: 2vw;
}

footer {
  display: flex;
  background-color: #252525;
  justify-content: space-around;
  align-items: center;
  padding: 2vw 5vw;
}
footer .footer__menu ul {
  display: flex;
}
footer .footer__menu ul li {
  padding: 1vw;
}
footer .footer__menu ul li a:hover {
  color: #f5bc22;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  header {
    padding: 5vw 7vw;
  }
  header nav .header__logo {
    font-size: 2.5vw;
  }
  header nav .header__menu {
    font-size: 2vw;
  }
  header nav .header__menu ul li {
    padding: 0 1.5vw;
  }
  header .header__main {
    padding: 35vw 15vw;
  }
  header .header__main h1 {
    margin-bottom: 1.5vw;
    font-size: 5vw;
  }
  header .header__main h2 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }

  .about {
    padding: 5vw 10vw;
  }
  .about .about__information h2 {
    font-size: 3vw;
  }
  .about .about__images ul li i {
    font-size: 6vw;
  }
  .about .about__images ul li h3 {
    font-size: 2vw;
  }

  .tours {
    padding: 2vw 4vw;
  }
  .tours .slick-prev {
    left: 1vw;
  }
  .tours .slick-next {
    right: 1vw;
  }
  .tours h2 {
    font-size: 3vw;
  }
  .tours .tours__sliders .tours__slider .tours__information h3 {
    padding-bottom: 3vw;
    font-size: 2.5vw;
  }
  .tours .tours__sliders .tours__slider .tours__information p {
    font-size: 1.7vw;
  }

  .booking {
    padding: 2vw;
  }
  .booking input, .booking select {
    padding: 1vw 1.2vw;
    margin: 1vw;
  }

  .contact .contact__information h2, .contact .contact__information h3 {
    padding: 1.2vw;
  }
  .contact .contact__information .contact__social {
    padding: 2vw 0;
  }
  .contact .contact__information .contact__social i {
    padding: 0.8vw 1.3vw;
    font-size: 3vw;
  }

  footer .footer__menu ul li {
    padding: 1.2vw;
  }
}

/*# sourceMappingURL=style.css.map */
